html{
    background-color: black;
}
body{
    color: white;
    background-color: #444444;
    margin-left:  290px;
    margin-right: 290px;
    padding: 45px;
  
}
.WendyN {
    border: #777777 solid 5px;  
    text-align: center;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    font-size: 24px;
    }
#bettImg { 
    border: #777777 solid 2px;
    float: right; 
    margin: 20px;
    padding: 7px;
            
}
a:link, a:visited {
    color: #6da; 
}
h1{
    font-style: italic;
}
h2 {
    text-align: left;
}
p {
    display: block;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
 
}
hr, div{ 
  margin: 40px;
}
